section{
  border-style: groove;
  margin-right: 20%;
  margin-left: 20%;
  background-color: white;
}
h1{
  font-size: 45px;
  color:#ff4500;
  text-align: center;
}
p{
  font-size: 30px;
  color: #4169e1;
  text-align: center;
}
#agreement{
  margin-left: 22%;
  font-size: 25px;
}

input[type=button]{
  margin-left: 20%;
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: #ff4500;
  background: #e0e0e0;
}
input[type=Submit]{
  margin-left: 20%;
  width: 100px;
  height: 40px;
  font-size: 20px;
  color: #ff4500;
  background: #e0e0e0;
}

.background div{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 4%;
  margin-bottom: 4%;
}
input[type=text]{
  width: 100%;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=email], input[type=password]
{
  width: 100%;
  font-size: 20px;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
img{
  width: 20%;
  height: 20%;
}
.background{
  background-image: url("bazaar.jpg");
  background-size: cover;
  background-attachment: fixed;
}
#footer{
  background-color: white;
  margin-left: 30%;
}
#form{
  margin-top: 0;
  margin-bottom: 0;
}
#error{
  color: red;
}
